html, body {
  margin: 10;
  padding: 10px;
  background: #191919;
  color: #3D3D3D;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  font-weight: bolder;
}


.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: 15px;
}

.grid-row:last-child {
	margin-bottom: 0;
}

.grid-row:after {
	content: "";
	display: block;
	clear: both;
}

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 15px;
  text-align: center;
  background: #5d49b8;
}

.grid-cell:last-child {
	margin-right: 0;
}

.game-container {
	  margin-top: 40px;
    margin-left: center;
	  position: relative;
	  padding: 15px;
	  cursor: default;
	  background: #33266d;
    #bbada0
	  border-radius: 6px;
	  width: 500px;
	  height: 500px;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.score {
  color: #5E43C4;
  font-family: "Helvetica Neue", Arial, sans-serif;

}

.lose {
  color: #EE0000;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.win {
  color: #fedb14;
  font-weight: bolder;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.title {
  color: #8767FF;
}
